%section
  %h2.futura.mb20 Ranking
  .row.m-t-0
    -@ranking.each.with_index(1) do |beach, i|
      .col-lg-4.col-md-4.col-sm-4
        %span.badge-red #{i}
        =link_to beach.name, beach_path(beach), class: "blue-link pl05"
        .thumbnail.img-responsive.thumb-top
          =link_to image_tag(beach.photos.first.url , alt: beach.name), beach_path(beach)
          %p.source_thumb= link_to "出典:#{beach.photos.first.source&.truncate(30)}", beach.photos.first.source
%section
  %h2.futura.mb20 Whats New
  .ar= paginate @new_arrival
  -@new_arrival.each do |beach|
    .panel.panel-default
      .panel-body
        .row
          .col-lg-4.col-md-4.col-sm-4
            .thumbnail.img-responsive.thumb-top
              =link_to image_tag(beach.photos.first.url , alt: beach.name), beach_path(beach)
              %p.source_thumb= link_to "出典:#{beach.photos.first.source&.truncate(30)}", beach.photos.first.source
          .col-lg-8.col-md-8.col-sm-8
            %h4=link_to beach.name, beach_path(beach), class: "blue-link"
            %p=beach.description.truncate(100)
            %p.ar= link_to '>>詳細', beach_path(beach)
            -if beach.tags.present?
              -beach.tags.each do |tag|
                %p.tag-block
                  = link_to tag.name, "/beaches?tag_id=#{tag.id}", {class: 'index-tag'}
  .ar= paginate @new_arrival
