- breadcrumb :beaches_detail
- set_meta_tags title: "#{@beach.name}の詳細情報"
- set_meta_tags description: "#{@beach.name}の情報をまとめています。海水浴場探しをお手伝いします。"
- set_meta_tags keywords: default_meta_tags[:keywords] << ", #{@beach.name}"

%h2=@beach.name
%hr.sea
.img_detail
  =image_tag(@beach.photos.first.url , alt: @beach.name, class: 'img-responsive')
  %p.source_main= link_to "出典:#{@beach.photos.first.source&.truncate(30)}", @beach.photos.first.source

%p.detail=@beach.description

%h3 基本情報
%table.table.table-striped
  %tr
    %td 住所
    %td=@beach.address
  %tr
    %td 電話番号
    %td=@beach.phone_number
  %tr
    %td シャワー
    %td=@beach.shower
  %tr
    %td 駐車場
    %td=@beach.parking
  %tr
    %td 公式URL
    -if @beach.site_url.present?
      %td=link_to @beach.site_url.truncate(30), @beach.site_url, {target: '_blank'}
    -else
      %td

%h3 地図
%div.map-container
  #map

-if Rails.env.production?
  .adsense.only-sp
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / レスポンシブ広告
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-5763028102391342", "data-ad-format" => "auto", "data-ad-slot" => "4339666512", :style => "display:block"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
      
:javascript
  mapStyle =
  [{"elementType":"geometry","stylers":[{"hue":"#ff4400"},{"saturation":-68},{"lightness":-4},{"gamma":0.72}]},{"featureType":"road","elementType":"labels.icon"},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"hue":"#0077ff"},{"gamma":3.1}]},{"featureType":"water","stylers":[{"hue":"#00ccff"},{"gamma":0.44},{"saturation":-33}]},{"featureType":"poi.park","stylers":[{"hue":"#44ff00"},{"saturation":-23}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"hue":"#007fff"},{"gamma":0.77},{"saturation":65},{"lightness":99}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"gamma":0.11},{"weight":5.6},{"saturation":99},{"hue":"#0091ff"},{"lightness":-86}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":-48},{"hue":"#ff5e00"},{"gamma":1.2},{"saturation":-23}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":[{"saturation":-64},{"hue":"#ff9100"},{"lightness":16},{"gamma":0.47},{"weight":2.7}]}]

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {styles: mapStyle}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
