.sidebar-nav
  %h3.mb20 都道府県から探す
  %ul.nav.nav-sidebar
    -# %li= link_to '東京の海(0)', '/'
    %li= link_to '神奈川の海(2)', '/beaches?prefecture_id=14'
    %li= link_to '千葉の海(4)', '/beaches?prefecture_id=12'
    %li= link_to '茨城の海(1)', '/beaches?prefecture_id=8'
    %li= link_to '静岡の海(4)', '/beaches?prefecture_id=22'
    %li= link_to '三重の海(1)', '/beaches?prefecture_id=24'

    -if Rails.env.production?
      %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      / サイドバー
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-5763028102391342", "data-ad-slot" => "9218484915", :style => "display:inline-block;width:300px;height:600px"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
